{
  "env": {
    "browser": true
  },
  "extends":  "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "function-paren-newline": ["error", "consistent"],
    "object-curly-newline": ["error", { "consistent": true }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
